@page
@model AboutMeModel 
@{
    ViewData["Title"] = "About Me";
}

<div class="container ">
    <div class="row">
        <div class="col-md-12 text-center mt-5">
            <h1>About Oreste</h1> 
            <p>I'm Oreste Twizeyimana, a Programmer Developer with 2 years of experience building software solutions that are both elegant and effective. My technical expertise includes C#, .NET, Vue.js, and more – see my ProgrammingModel section for a deeper dive.</p>
            <p>I'm a dedicated problem-solver who thrives on the challenge of crafting clean, well-structured code. In my spare time, I'm always tinkering with side projects and exploring new technologies. </p>
            <p>I also enjoy modeling; explore my portfolio on Instagram [Insert Instagram Link Here].</p>
        </div>
    </div>
</div>
