@page
@model OCP.Pages.LanguagesModel
@{
}
<div class="container hero-section-bis">

<h1>Languages</h1>

<p>I have a strong foundation in multilingual communication, including native-level proficiency in three languages and fluency in another. Additionally, I bring substantial experience in tutoring English and French.</p>

<h2>Language Proficiency</h2>

<ul>
    <li><strong>English:</strong> Native Speaker</li>
    <li><strong>French:</strong> Native Speaker</li>
    <li><strong>Kinyarwanda:</strong> Native Speaker</li>
    <li><strong>Polish:</strong> Fluent</li>
</ul>

<h2>Tutoring Experience</h2>

<p>I have a wide range of experience tutoring students of all ages and abilities. I've helped elementary school students with English, high schoolers with English, French, and Math, and adults seeking to improve their conversational French or prepare for the IELTS exam. My expertise includes Business English for professionals, tailored lessons for young learners, and exam preparation for students facing important assessments. I pride myself on adapting my teaching methods to individual student needs, helping them achieve their unique language and academic goals.</p>

<h2>My Services</h2>

<p>I offer a variety of language learning services, including:</p>
<ul>
    <li>One-on-one tutoring</li>
    <li>Group classes</li>
    <li>Online tutoring</li>
    <li>Exam preparation</li>
    <li>Conversation practice</li>
</ul>

<p>I am also available for translation and interpretation services.</p>

<h2>My Approach</h2>

<p>I believe that language learning should be fun and engaging. I tailor my lessons to the individual needs of each student, and I use a variety of methods to keep my students motivated. I am patient and encouraging, and I am always willing to answer questions.</p>

<h2>Testimonials</h2>

<blockquote>
    "Great teacher! Nice atmosphere and professional approach to the student." - Jaroslaw 
</blockquote>

<blockquote>
    "Very good cooperation. We are satisfied with the lessons." - Katarzyna 
</blockquote>

<p>See more testimonials on my <a href="https://buki.org.pl/en/user-33204/#users_reviews">Buki.org.pl Profile reviews</a></p>

<h2>Contact Me</h2>

<p>Interested in improving your language skills? <a asp-page="/Contact"> Let's connect!</a> </p>
</div>

